<th:block th:fragment="header">
    <title>TecLibrary</title>
    <!-- Tag's de responsividade -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Imagem logo-->
    <link rel="shortcut icon" type="image/x-icon" href="../static/imgs/teclibrary.png" th:href="@{../imgs/teclibrary.png}">
    <!-- Arquivos de CSS customizados -->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{../css/main.css}">
    <!-- Arquivos de JS customizados-->
    <script type="text/javascript" language="javascript" src="../static/js/main.js" th:src="@{../js/main.js}"></script>
    <script type="text/javascript" language="javascript" src="../static/js/sis-table.js"
            th:src="@{../js/sis-table.js}"></script>
    <script type="text/javascript" language="javascript" src="../static/js/models.js"
            th:src="@{../js/models.js}"></script>
    <!-- Arquivos de CSS importados -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <!-- Arquivos de JS importados-->
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <script type="text/javascript" language="javascript" src="../static/js/jquery.mask.js" th:src="@{../js/jquery.mask.js}"></script>
</th:block>